* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', 'Segoe UI', sans-serif;
  line-height: 1.6;
  color: #2d1f44;
background: linear-gradient(to right, #7e22ce, #c084fc, #f5d0fe);
}

.contact {
  padding: 80px 40px;
  background: linear-gradient(to right, #8a2bff, #a457f6, #c58fff);
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 8px 20px rgba(111, 66, 193, 0.2);
  max-width: 600px;
  margin: 50px auto;
}

.contact h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 2rem;
}

.contact form {
  display: flex;
  flex-direction: column;
}

.contact label {
  margin-top: 15px;
  margin-bottom: 5px;
  color: #fff;
  font-weight: 500;
  text-align: left;
  
}

.contact input,
.contact select,
.contact textarea {
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #d52fff;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #d2bef8;
  outline: none;
  transition: 0.3s;
}

.contact input:focus,
.contact select:focus,
.contact textarea:focus {
  border-color: #fff;
  box-shadow: 0 0 8px #fff;
}

.contact button {
  padding: 12px;
  background:  #8a2bff;
  color: #fff;
  border: 1;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  border-color: black;
}

.contact button:hover {
  background:#9675ff;
}